body {
    background: #FFE6FF;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: white;
    padding: 35px 50px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
}

h1 {
    margin-bottom: 10px;
    color: #800080;
}

input[type="text"] {
    width: 200px;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #D100D1;
    border-radius: 6px;
    outline: none;
    margin-bottom: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background: #D100D1;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #FF00FF;
}
